@model AustinBandDatabase.Models.Band

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div><label>Genre</label></div>
<div><label>Year Formed:</label> @Model.YearFormed</div>
<div>@Html.Raw(Model.DescriptionHtml)</div>